language: node_js

node_js: 10

jobs:
  include:

  - stage: install, check code style and coverage
    addons:
      hosts:
      - localhost
    before_script:
    - npm install -g grunt-cli
    - sleep 10
    script:
    - grunt

  - stage: Publish to npm
    if: branch = master
    script:
    - echo "PUBLISH npm"
    deploy:
      skip_cleanup: true
      provider: npm
      email: $NPM_EMAIL
      api_key: $NPM_TOKEN
      on:
        branch: master

  - stage: Publish to docker registry
    if: branch = master
    script:
    - echo "PUBLISH docker"
    - export PACKAGE_VERSION=$(cat package.json | grep version | head -1 | awk -Fn '{ print $2 }' | sed 's/[n:",]//g' | tr -d '[[:space:]]')
    - export MAJOR_VERSION=$(echo ${PACKAGE_VERSION} | awk -F. '{ print $1 }')
    - echo Package version ${PACKAGE_VERSION}
    - echo Major version ${MAJOR_VERSION}
    - docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD

    - docker build -t soajsorg/go -f Dockerfile_go .
    - docker build -t soajsorg/node -f Dockerfile_node .
    - docker build -t soajsorg/fe -f Dockerfile_nginx .

    - docker tag soajsorg/go:latest soajsorg/go:${PACKAGE_VERSION}
    - docker tag soajsorg/go:latest soajsorg/go:${MAJOR_VERSION}.x

    - docker tag soajsorg/node:latest soajsorg/node:${PACKAGE_VERSION}
    - docker tag soajsorg/node:latest soajsorg/node:${MAJOR_VERSION}.x

    - docker tag soajsorg/fe:latest soajsorg/fe:${PACKAGE_VERSION}
    - docker tag soajsorg/fe:latest soajsorg/fe:${MAJOR_VERSION}.x

    - docker images

    - docker push soajsorg/go
    - docker push soajsorg/node
    - docker push soajsorg/fe